body {
    background-color: #101820FF;
    text-align: center;
    color: #FEE715FF ;
  }

li {
    color: greenyellow;
    list-style: square;
    margin-left: 14.0625rem;
  }

.todo-text {
  color: #FEE715FF ;
}

th {
  color: white;
}

.add-btn {
  font-size: large;
  border-radius: .125rem;
}

td {
  color:white;
}

.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17.5rem;
}

.Modal__Content {
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.Modal__Heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.Modal__Button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: .25rem;
  margin-right: .5rem;
}

.Modal__Button--Yes {
  background-color: #f44336;
}

.Modal__Button--No {
  background-color: #4CAF50;
}