body {
    background-color: black;
    color: white;
  }
  
  input {
    background-color: aqua;
    border: .0625rem solid aqua;
    border-radius: .3125rem;
    width: 18.75rem;
    padding: 0.5rem;
    margin-right:.625rem;
    font-size: 1rem;
  }
  
  button {
    cursor: pointer;
    border: .0625rem solid black;
    border-radius: .3125rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    background-color: rgb(4, 231, 156);
  }