body {
    background-color: #033C46;
    color: white;
}

.formHead {
    font-family: 'Alkatra', cursive;
    font-family: 'EB Garamond', serif;
}

.print {
    height: 40px;
    width: 50px;
}

.user-data {
    color: white;
}

.user-data:hover {
    color: #B2AC88;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}  

