body {
  background-color: black;
  color: white;
}

input {
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 5px;
  width: 300px;
  padding: 0.5rem;
  margin-right:.625rem;
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
  background-color: rgb(4, 231, 156);
}